[project]
	description = My 
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Gunyoung Yoon (Dry8r3aD)
[access "refs/for/refs/*"]
	read = group user/Gunyoung Yoon (Dry8r3aD)
	push = group user/Gunyoung Yoon (Dry8r3aD)
	label-Code-Review = -2..+2 group user/Gunyoung Yoon (Dry8r3aD)
	label-Verified = -1..+1 group user/Gunyoung Yoon (Dry8r3aD)
	rebase = group user/Gunyoung Yoon (Dry8r3aD)
	removeReviewer = group user/Gunyoung Yoon (Dry8r3aD)
	submit = group user/Gunyoung Yoon (Dry8r3aD)
[access "refs/heads/*"]
	read = group user/Gunyoung Yoon (Dry8r3aD)
	create = group user/Gunyoung Yoon (Dry8r3aD)
	push = +force group user/Gunyoung Yoon (Dry8r3aD)
	pushMerge = group user/Gunyoung Yoon (Dry8r3aD)
[access "refs/tags/*"]
	push = group user/Gunyoung Yoon (Dry8r3aD)
	push = +force group user/Gunyoung Yoon (Dry8r3aD)
